<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526129377-bm990b988blrv79qkrmc2m964frnlin4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526129377-bm990b988blrv79qkrmc2m964frnlin4</string>
	<key>API_KEY</key>
	<string>AIzaSyDg5GfOmBR_gYVSEws6pLd1A8P78d6PysI</string>
	<key>GCM_SENDER_ID</key>
	<string>526129377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegi.vegiapp</string>
	<key>PROJECT_ID</key>
	<string>vegiliverpool</string>
	<key>STORAGE_BUCKET</key>
	<string>vegiliverpool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526129377:ios:69d1fac6f1aad59370bfa0</string>
</dict>
</plist>